.blog-card:hover {
    transform: translateY(-5px);
    border-color: var(--foreground) !important;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.blog-card:hover h3 {
    text-decoration: underline;
}